* {
  box-sizing: border-box; }

body {
  font-size: 16px;
  font-family: 'roboto', sans-serif; }

body, html, #app, #container {
  padding: 0;
  margin: 0;
  height: 100%; }

#container {
  display: flex;
  flex-direction: row; }

::placeholder {
  color: lightgrey; }

button, input, select {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  outline: none;
  border-radius: 4px;
  border: 1px solid lightgrey;
  padding: 0.5em 1em;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s; }

button, select {
  background-color: transparent;
  cursor: pointer;
  color: dodgerblue;
  border-color: dodgerblue; }
  button:hover, button:focus, button:active, select:hover, select:focus, select:active {
    background-color: dodgerblue;
    color: whitesmoke; }
  button.alt, select.alt {
    color: white;
    border-color: white; }
    button.alt:hover, button.alt:focus, button.alt:active, select.alt:hover, select.alt:focus, select.alt:active {
      background-color: white;
      color: dodgerblue; }

fieldset {
  border: 1px solid white;
  padding: 1em;
  margin-bottom: 1em; }

input {
  background-color: whitesmoke;
  color: darkslategrey;
  cursor: text; }
  input:focus {
    border-color: dodgerblue;
    background-color: white; }
  input.alt {
    border-color: whitesmoke; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0 0 0.75em 0; }

p {
  margin: 0 0 1em 0; }

.channel {
  padding: 1em;
  margin: 1em;
  border-radius: 4px;
  background-color: white;
  border: 1px solid lightgrey; }

#channels {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 1em; }

#create-channel {
  flex: 1 0 30em;
  color: white;
  background-color: dodgerblue;
  height: 100%;
  display: flex;
  padding: 1em;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

#error {
  margin-top: 1em;
  color: tomato;
  background-color: white;
  border-radius: 4px;
  padding: 1em; }

#error > p::before {
  content: 'Error: ';
  font-weight: bold; }

#join-channel {
  flex: 1 1 60em;
  background-color: whitesmoke;
  height: 100%;
  padding: 1em; }

#join-channel-title {
  text-align: center;
  margin-top: 1em; }

#channel-data, #channel-media {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  height: 100%;
  padding: 1em; }

#channel-data {
  background-color: dodgerblue;
  color: white; }

#channel-media {
  background-color: whitesmoke; }

.group {
  color: darkslategrey;
  border-radius: 4px;
  background-color: white;
  padding: 1em;
  margin-bottom: 1em; }
  .group > :last-child {
    margin-bottom: 0; }
  .group#chat-group {
    flex-grow: 1;
    display: flex;
    flex-direction: column; }
    .group#chat-group #chat {
      flex-grow: 1;
      overflow: auto;
      margin-bottom: 4px;
      border-radius: 4px;
      border: 1px solid lightgrey; }
    .group#chat-group #message-input {
      flex: 0 0 auto;
      width: 100%;
      display: flex;
      flex-direction: row; }
      .group#chat-group #message-input input {
        flex: 1 0 0;
        margin-right: 4px; }

/*# sourceMappingURL=main.css.map */
