// variables
$border-radius: 4px;
$main-color: lightgrey;
$medium-main-color: grey;
$dark-main-color: darkslategrey;
$subtle-color: whitesmoke;
$accent-color: dodgerblue;
$error-color: tomato;
$transition-length: 0.2s;

// document styles
* {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-family: 'roboto', sans-serif;  
  color: $dark-main-color;
}
body, html, #app, #container {
  padding: 0;
  margin: 0;
  height: 100%;
}
#container {
  display: flex;
  flex-direction: row;
}

// tag styles
::placeholder {
  color: $main-color;
}
button, input, select {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  outline: none;
  border-radius: $border-radius;
  border: 1px solid $main-color;
  padding: 0.5em 1em;
  transition:
    background-color $transition-length,
    color $transition-length,
    border-color $transition-length;
}
button, select {
  // general and main color styles
  background-color: transparent;
  cursor: pointer;
  color: $accent-color;
  border-color: $accent-color;
  &:hover, &:focus, &:active {
    background-color: $accent-color;
    color: $subtle-color;
  }

  // alternate colors
  &.alt {
    color: white;
    border-color: white;
    &:hover, &:focus, &:active {
      background-color: white;
      color: $accent-color;
    }
  }
}
fieldset {
  border: 1px solid white;
  padding: 1em;
  margin-bottom: 1em;
}
input {
  // general and main color styles
  background-color: $subtle-color;
  color: $dark-main-color;
  cursor: text;
  &:focus {
    border-color: $accent-color;
    background-color: white;
  }

  // alt colors
  &.alt {
    border-color: $subtle-color;
  }
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0 0 0.75em 0;
}
p {
  margin: 0 0 1em 0;
}

// IntroComponent styles
#intro-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 0 100%;
  height: 100%;
}

// ChannelComponent styles
.channel {
  padding: 1em;
  margin: 1em;
  border-radius: $border-radius;
  background-color: white;
  border: 1px solid $main-color;
}
#channels {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 1em;
}
#create-channel {
  flex: 1 0 30em;
  color: white;
  background-color: $accent-color;
  height: 100%;
  display: flex;
  padding: 1em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#error {
  margin-top: 1em;
  color: $error-color;
  background-color: white;
  border-radius: $border-radius;
  padding: 1em;
}
#error > p::before {
  content: 'Error: ';
  font-weight: bold;
}
#join-channel {
  flex: 1 1 60em;
  background-color: $subtle-color;
  height: 100%;
  padding: 1em;
}
#join-channel-title {
  text-align: center;
  margin-top: 1em;
}

// ChatComponent styles
#channel-data, #channel-media {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1em;
}
#channel-data {
  background-color: $accent-color;
  color: white;
  resize: horizontal;
  overflow: hidden;
  flex: 0 0 auto;
  min-width: 30em;
  max-width: calc(100% - 20em);
}
#channel-media {
  flex: 1 0 auto;
  background-color: $subtle-color;
  overflow: auto;

  #videos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .video {
      padding: 1em;
      margin: 1em;
      border: 1px solid $main-color;
      display: flex;
      flex-direction: column;

      video {
        max-width: 360px;
        margin-bottom: 1em;
      }
    }
  }
}
.group {
  color: $dark-main-color;
  border-radius: $border-radius;
  background-color: white;
  padding: 1em;
  margin-bottom: 1em;

  & > :last-child {
    margin-bottom: 0;
  }
  &#members-group {
    #members {
      height: 10em;
      overflow: auto;
      background-color: $subtle-color;
      border: 1px solid $main-color;
      border-radius: $border-radius;

      .member {
        padding: 1em;

        &:hover {
          background-color: white;
        }
        &:not(:last-child) {
          border-bottom: 1px solid $main-color;
        }
      }
    }
  }
  &#chat-group {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    #chat {
      flex-grow: 1;
      overflow: auto;
      margin-bottom: $border-radius;
      border-radius: $border-radius;
      border: 1px solid $main-color;
      background-color: $subtle-color;

      .message {
        padding: 1em;
        display: flex;
        flex-direction: column;

        .message-body {
          width: 80%;
          padding: 1em;
          border-radius: $border-radius;
          background-color: white;
          margin-bottom: 0.75em;
        }
        .message-details {
          font-size: smaller;
          color: $medium-main-color;
          margin: 0 1em;
        }
        &.is-author {
          align-items: flex-end;

          .message-body {
            background-color: $dark-main-color;
            color: $subtle-color;
          }
        }
      }
    }

    #message-input {
      flex: 0 0 auto;
      width: 100%;
      display: flex;
      flex-direction: row;

      input {
        flex: 1 0 0;
        margin-right: $border-radius;
      }
    }
  }
}
